<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <LocaltonetConsole.ApplicationSettings>
            <setting name="AuthToken" serializeAs="String">
                <value>Pa82Xyh0vFscBf7zDL9iEKgJqHumGrd6T</value>
            </setting>
        </LocaltonetConsole.ApplicationSettings>
    </userSettings>
</configuration>